{% extends 'base.html' %}

{% block contents %}
<div class="row">
    <div class="col-sm-12">
        <h1>Dashboard</h1>
        <hr>
        {% if not credentials %}
            <a href="{% url 'youtube:authorize' %}">Create credential for Youtube Data API </a>
        {% else %}
            <p>You have created a authorized credential for accessing Youtube Data API </p>
            <code>{{ credentials }} </code>
        {% endif %}
        <hr>
        <a class="btn btn-primary" href="{% url 'youtube:video_sources'%}">Video Sources</a>
        <a style="float:right" class="btn btn-danger" href="{% url 'accounts:logout'%}">Log out</a>
    </div>
</div>
{% endblock %}
