{% extends 'base.html' %}

{% block contents %}
<div class="row">
    <div class="col-sm-12">
        <h1>Login</h1>
        <hr>
        <form action="{% url 'accounts:login' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username</label>
                {{ form.username }}
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                {{ form.password }}
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
</div>
{% endblock %}