{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Youtube API implementation for Python</title>
    {% include "includes/css.html" %}
</head>
<body>
<div class="container">
    {% block contents %}{% endblock %}
</div>
</div>
{% include 'includes/js.html' %}
</body>
</html>