{% extends 'base.html' %}

{% block contents %}
<div class="row">
    <div class="col-sm-12">
        {{ form.errors }}
        {% if form.instance.pk %}
            <h1>Update Video Source</h1>
            <form action="{% url 'youtube:video_source_update' form.instance.pk %}" method="POST">
        {% else %}
            <h1>Create Video Source</h1>
            <form action="{% url 'youtube:video_source_create' %}" method="POST">
        {% endif %}
        <hr>
        {% csrf_token %}
        {{ form }}
        <hr>
        <input class="btn btn-success" type="submit" value="Submit">
        <a class="btn btn-primary" href="{% url 'youtube:video_sources' %}">Back</a>
        <a style="float:right" class="btn btn-danger" href="{% url 'accounts:logout'%}">Log out</a>
        </form>
    </div>
</div>
{% endblock %}
