{% extends 'base.html' %}

{% block contents %}
<div class="row">
    <div class="col-sm-12">
        <h1>Video Sources</h1>
        <table class="table table-hover">
            <thead>
                <th>Id</th>
                <th>Title</th>
                <th>Source ID</th>
                <th>Source Type</th>
                <th>Status</th>
                <th>Action</th>
            </thead>
            <tbody>
            {% for object in object_list %}
            <tr>
                <td>{{ object.pk }}</td>
                <td>{{ object.title }}</td>
                <td>{{ object.source_id }}</td>
                <td>{{ object.get_source_type_display }}</td>
                <td>{{ object.get_status_display }}</td>
                <td>
                    <a class="btn btn-warning" href="{% url 'youtube:video_source_update' object.pk %}">Update</a>
                    <a class="btn btn-primary" href="{% url 'youtube:video_source_crawl' object.pk %}">Crawl</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <hr>
        <a class="btn btn-primary" href="{% url 'youtube:video_source_create' %}">Create New Source</a>
        <a class="btn btn-primary" href="{% url 'accounts:dashboard' %}">Dashboard</a>
        <a style="float:right" class="btn btn-danger" href="{% url 'accounts:logout'%}">Log out</a>
    </div>
</div>
{% endblock %}